<h1><%= site_title %></h1>
<ul>
  <% snippets.each do |snippet| %>
  <li>
    <a href="/<%= snippet[:slug] %>"><%= snippet[:title] %></a>
    <br />
    Tags: <%= snippet[:tags] %>
  </li>
<% end %>
</ul>
