<%
@site_name  = site_name
@site_title = snippet[:title] + ' - ' + site_name
@page_title = snippet[:title]
%>
<div id="wrapper">
  <%= snippet[:body] %>
</div>
<div id="tags">Tags: <%= snippet[:tags] %></div>
