body {
  padding: 60px 0 40px 0;
}

.formatted-text-display {
  padding-top: 170px;
}

#body {
  height: 20em;
}

section {
  padding-top: 20px;
}

#username {
  width: 8em;
}

#password {
  width: 7em;
}
